* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

select {
    background-color: transparent;
    border: none;
    width: 100%;
}

input[type="number"] {
    display: block;
}
