.car {
    width: 90%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media (min-width: 530px) {
        width: 70%;
        height: 55%;
    }

    @media (min-width: 820px) {
        width: 55%;
        height: 60%;
    }

    @media (min-width: 1120px) {
        width: 45%;
        height: 70%;
    }

    &__logo {
        position: absolute;
        width: 10%;
        height: 10%;
        left: 84%;
        top: 40%;
        overflow: hidden;
    }

    &__logo > img {
        max-width:100%;
        max-height:100%;
    }

    &__top {
        height: 35%;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        position: relative;
        left: -4%;

        &__window {
            background-color: $windowBlue;
            border-top: 10px solid $mainYellow;
        }

        &__window--left {
            width: 45%;
            border-left: 10px solid $mainYellow;
            border-right: 20px solid $mainYellow;
            border-top-left-radius: 60% 100%;
        }

        &__window--right {
            width: 55%;
            border-right: 10px solid $mainYellow;
            border-top-right-radius: 60% 100%;
        }
    }


    &__body {
        display: flex;
        justify-content: space-between;
        height: 45%;
        background-color: $mainYellow;
        border-top-left-radius: 18% 80%;
        border-top-right-radius: 15% 60%;
        border-bottom-left-radius: 10% 25%;
        border-bottom-right-radius: 15%;
        box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);

        &__rear-light {
            display: inline-block;
            background-color: $rearLight;
            width: 4%;
            height: 30%;
            position: relative;
            top: 60%;
            border-top-left-radius: 40%;
            border-bottom-left-radius: 40%;
            box-shadow: -5px 0px 20px 10px #d35959; 
        }

        &__front-light {
            background-color: $white;
            width: 4%;
            height: 30%;
            position: relative;
            top: 55%;
            border-top-right-radius: 20%;
            border-bottom-right-radius: 30%;
            box-shadow: 5px 0px 20px 10px #eeece4f7; 
        }

        &__number {
            position: relative;
            display: inline-block;
            width: 20%;
            height: 0;
            padding: 10% 0;
            border-radius: 50%;
            background-color: $white;
            text-align: center;
            font-size: 4em;
            align-self: center;
            line-height: 0;
            letter-spacing: 0.075em;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 
            0 3px 0 #bbb, 0 4px 0 #b9b9b9, 
            0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 
            0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 
            0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 
            0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

            @media (min-width: 530px) {
                width: 19%;
                padding: 9.5% 0;
            }

            @media (min-width: 820px) {
                width: 18%;
                padding: 9% 0;
            }

            @media (min-width: 1120px) {
                width: 16%;
                padding: 8% 0;
            }
        }
    }

    &__bottom {
        height: 20%;
        background-color: transparent;
        display: flex;
        justify-content: space-around;


        &__wheel {
            background-color: $lightGray;
            border: 20px solid $darkGray;
            width: 10%;
            padding-top: 10%;
            border-radius: 50%;
            box-sizing: content-box;
            position: relative;
            top: -115%;
            box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);

            @media (min-width: 530px) {
                border: 30px solid $darkGray;
            }
        }
    }
}