.mod-menu {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;

    &__dropdown {
       font-size: 1.4em;
       background-color: $menuBlue;
       border-radius: 10%;
       width: 80%;
    }

    &__radio {
        width: 80%;  
        margin-bottom: 15px;
    }

    &__reset {
        margin-top: 20px;
    }


}