.mod-menu {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-wrap: wrap;
    padding-top: 20px;

    @media (min-width: 1120px) {
        width: 45%;
    }

    @media (min-width: 820px) {
        width: 55%;
    }

    @media (min-width: 530px) {
        display: flex;
    }

    &__dropdown {
       font-size: 1.4em;
       background-color: $menuBlue;
       border-radius: 10px;
       width: 80%;
    }

    &__radio {
        width: 80%;  
        margin-bottom: 15px;
    }

    &__reset {
        margin-top: 40px;
        background-color: #F5919D;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }


}