.mod-menu {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-wrap: wrap;
    padding-top: 20px;

    @media (min-width: 1120px) {
        width: 45%;
    }

    @media (min-width: 820px) {
        width: 55%;
    }

    @media (min-width: 530px) {
        display: flex;
    }

    &__dropdown {
       font-size: 1.3em;
       background-color: $menuBlue;
       border-radius: 10px;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 15px;

        @media (min-width: 530px) {
            margin: 0;
        }
    }

    &__radio {
        width: 80%;  
        margin: 0 auto 10px auto;
        text-align: center;

        @media (min-width: 530px) {
            margin: 0 0 15px 0;
            text-align: left;
        }
    }

    &__number {
        margin: 0 auto 0 auto;
        width: 80%;
        text-align: center;

        @media (min-width: 530px) {
            margin: 0;
            text-align: left;
            width: 100%;
        }
        
        
    }

    &__reset {
        margin-top: 15px;
        background-color: #F5919D;
        border: none;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        letter-spacing: 0.1em;
        cursor: pointer;

        @media (min-width: 530px) {
            margin: 30px 0 15px 0;
            display: inline;
        }
        
    }

    &__reset:focus {
        outline: 0;
    }


}