.panel {
    
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 530px) {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-end;
        margin: 0;
    }
}